@import "../config/_color.scss";
@import "../utils/_util.scss";

.header{
  position: relative;

  .header_top {
    background-color: #{
      $dark-clay
    };
    position: relative;

    .top_inner {
      max-width: 1110px;
      margin: 0 auto;
      color: #ffffff;
      display: flex;
      line-height: 3.2rem;
      justify-content: space-between;

      .top_inner_container {
        display: flex;

        .main_title {
          font-size: 2.5rem;
          font-weight: bolder;
          margin: 1rem 0 1rem 0;
          color: #ffffff;

          @include break_point1 {
            margin-left: 0.4rem;
            font-size: 1.5rem;
          }
        }

        .main_date{
          margin-left: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          color: #ffffff;

          @include break_point1 {
            display: none;
          }

          @include break_point2 {
            display: none;
          }
        }

        &:hover {
          .logo {
            display: block;

            @include break_point1 {
              display: none;
            }

            @include break_point2 {
              display: none;
            }

            @include break_point3 {
              display: none;
            }
          }
        }

        .top_inner_left {
          display: flex;
        }

        .logo {
          display: none;
          width: 100px;
          height: 75px;
        }
      }

      .top_right {
        display: flex;

        .top_sign_up {
          font-size: 1rem;
          font-weight: bold;
          color: #ffffff;
          padding: 0 1rem 0 1rem;
          margin: 1rem 0 1rem 1rem;
          border: #ffffff 1px solid;
          border-radius: 20px;

          @include break_point1 {
            font-size: 0.7rem;
          }

          &:hover {
            color: $dark-clay;
            background-color: white;
          }
        }

        .top_login {
          font-size: 1rem;
          font-weight: bold;
          margin: 1rem 0 1rem 1rem;
          padding: 0 1rem 0 1rem;
          border: #ffffff 1px solid;
          border-radius: 20px;
          color: #ffffff;

          @include break_point1 {
            font-size: 0.7rem;
            margin-right: 0.4rem;
          }

          &:hover {
            color: $dark-clay;
            background-color: white;
          }
        }
      }
    }
  }

  .header_bottom {
    border-bottom: 1.5px solid #eeeeee;
    background-color: #ffffff;

    .header_bottom_inner {
      max-width: 1110px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      line-height: 3rem;
      height: 3rem;
      font-size: 1.1rem;

      .card_container {
        display: flex;
        justify-content: flex-start;

        ~div {
          @include break_point1 {
            display: none;
          }

          @include break_point2 {
            display: none;
          }

          @include break_point3 {
            display: none;
          }
        }

        .header_bottom_card {
          margin-right: 2rem;
          cursor: pointer;

          @include break_point1 {
            margin-right: 1rem;
            font-size: 0.8rem;
          }

          @include break_point2 {
            margin-right: 2rem;
          }

          @include break_point3 {
            margin-right: 1rem;
          }

          &:first-child {
            margin-left: 10px;
          }

          &:hover {
            font-weight: bold;
            color: $dark-clay;
            border-bottom: $dark-clay 1px solid;
          }
        }

        .select {
          font-weight: bold;
          color: $dark-clay;
          border-bottom: $dark-clay 1px solid;
        }
      }

      .weather_widget {
        cursor: pointer;
        width: 20%;

        @include break_point1 {
          display: none;
        }

        @include break_point2 {
          display: none;
        }

        @include break_point3 {
          width: 40%;
        }

        .hide {
          display: none;
        }
        .simple_weather_icon {
          width:3rem;
        }
        .weather_container {
          background-color: #ffffff;
          padding: 0 0.5rem 0 0.5rem;

          .simple_weather_info {
            display: flex;
            text-align: center;
            justify-content: space-evenly;
          }

          .weather_info {
            text-align: center;
            align-items: center;

            .sub_info {
              line-height: 2rem;
            }

            .temperature {
              font-size: 1.5rem;
            }

            .weather_icon {
              width: 2rem;
            }
          }

          .fcst {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px dashed $dark-clay;
            line-height: 2rem;

            .main_info {
              display: flex;
              flex-direction: column;
            }

            .temperature {
              font-size: 0.9rem;
              text-align: center;
            }

            .fcst_time {
              line-height: 1.5rem;
              font-size: 0.9rem;
              text-align: center;
            }
          }
        }
      }
    }

    @include break_point2 {
      .header_bottom_inner {
        font-size: 1rem;

        .header_bottom .header_bottom_inner .header_bottom_card {
          margin-right: 1rem;
          cursor: pointer;

          &:first-child {
            margin-left: 5px;
          }
        }
      }
    }
  }
}