@import "../config/_color.scss";
@import "../utils/_util.scss";

.header{
  position: relative;

  .header_top {
    background-color: #{
      $dark-clay
    };
    position: relative;

    .top_inner {
      max-width: 1110px;
      margin: 0 auto;
      color: #ffffff;
      display: flex;
      line-height: 3.2rem;
      justify-content: space-between;

      .top_inner_left {
        font-size: 2.5rem;
        font-weight: bolder;
        margin: 1rem 0 1rem 0;
        color: #ffffff;
      }
      .top_right {
        display: flex;

        .top_sign_up {
          font-size: 1rem;
          color: #ffffff;
          margin: 1rem 0 1rem 1rem;
        }

        .top_login {
          font-size: 1rem;
          margin: 1rem 0 1rem 1rem;
          padding: 0 1rem 0 1rem;
          background-color: $light-warm-red;
          border: #ffffff 1px solid;
          border-radius: 20px;
          color: #ffffff;
        }
      }

    }
  }

  .header_bottom {
    border-bottom: 1.5px solid #eeeeee;
    background-color: #ffffff;

    .header_bottom_inner {
      max-width: 1110px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      line-height: 3rem;
      height: 3rem;
      font-size: 1.1rem;

      .card_container {
        display: flex;
        justify-content: flex-start;
        .header_bottom_card {
          margin-right: 2rem;
          cursor: pointer;

          &:first-child {
            margin-left: 10px;
          }
        }

        .select {
          color: $dark-clay;
          border-bottom: $dark-clay 1px solid;
        }
      }

      .weather_container {
        display: flex;

        .weather_info {
          display: flex;
        }
      }

    }

    @include mobile {
      .header_bottom_inner {
        font-size: 1rem;

        .header_bottom .header_bottom_inner .header_bottom_card {
          margin-right: 1rem;
          cursor: pointer;

          &:first-child {
            margin-left: 5px;
          }
        }
      }
    }
  }
}