@import "../config/_color.scss";
@import "../utils/_util.scss";

.header{
  position: relative;

  .header_top {
    background-color: #{
      $dark-clay
    };
    position: relative;

    .top_inner {
      max-width: 1110px;
      margin: 0 auto;
      color: #ffffff;
      display: flex;
      line-height: 3.2rem;
      justify-content: space-between;

      .top_inner_container {
        display: flex;

        &:hover {
          .logo {
            display: block;
          }
        }

        .top_inner_left {
          font-size: 2.5rem;
          font-weight: bolder;
          margin: 1rem 0 1rem 0;
          color: #ffffff;
        }

        .logo {
          display: none;
          width: 100px;
          height: 85px;
        }

      }

      .top_right {
        display: flex;

        .top_sign_up {
          font-size: 1rem;
          font-weight: bold;
          color: #ffffff;
          padding: 0 1rem 0 1rem;
          margin: 1rem 0 1rem 1rem;
          border: #ffffff 1px solid;
          border-radius: 20px;

          &:hover {
            color: $dark-clay;
            background-color: white;
          }
        }

        .top_login {
          font-size: 1rem;
          font-weight: bold;
          margin: 1rem 0 1rem 1rem;
          padding: 0 1rem 0 1rem;
          border: #ffffff 1px solid;
          border-radius: 20px;
          color: #ffffff;

          &:hover {
            color: $dark-clay;
            background-color: white;
          }
        }
      }

    }
  }

  .header_bottom {
    border-bottom: 1.5px solid #eeeeee;
    background-color: #ffffff;

    .header_bottom_inner {
      max-width: 1110px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      line-height: 3rem;
      height: 3rem;
      font-size: 1.1rem;

      .card_container {
        display: flex;
        justify-content: flex-start;

        .header_bottom_card {
          margin-right: 2rem;
          cursor: pointer;

          &:first-child {
            margin-left: 10px;
          }

          &:hover {
            font-weight: bold;
            color: $dark-clay;
            border-bottom: $dark-clay 1px solid;
          }
        }

        .select {
          font-weight: bold;
          color: $dark-clay;
          border-bottom: $dark-clay 1px solid;
        }
      }

      .weather_widget {
        .weather_container {
          border: 2px solid $dark-clay;
          .date_info {
            text-align: center;
          }

          .weather_info {
            display: flex;
            text-align: center;
            justify-content: space-between;
            align-items: center;

            .temperature {
              font-size: 2rem;
            }
          }

          .fcst {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px dashed $dark-clay;

            .main_info {
              display: flex;
              flex-direction: column;
            }

            .temperature {
              font-size: 1rem;
              text-align: center;
            }

            .fcst_time {
              font-size: 1rem;
              text-align: center;
            }
          }
        }
      }
    }

    @include mobile {
      .header_bottom_inner {
        font-size: 1rem;

        .header_bottom .header_bottom_inner .header_bottom_card {
          margin-right: 1rem;
          cursor: pointer;

          &:first-child {
            margin-left: 5px;
          }
        }
      }
    }
  }
}