@import "../config/_color.scss";
@import "../utils/_util.scss";

.login_box {
  margin: auto;
  background-color: $dark-clay;
  border-radius: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #ffffff;

  @include break_point1 {
    width: 80%;
  }

  .login_inner {
    width: 70%;
    margin: 1rem;

    .login_title {
      margin: 1rem auto;
      font-size: 2.5rem;
      font-weight: bolder;
      color: #ffffff;

      @include break_point1 {
        font-size: 1.3rem;
      }

      @include break_point2 {
        font-size: 1.5rem;
      }

      @include break_point3 {
        font-size: 2rem;
      }
    }

    .login_input_container {
      border: #ffffff solid 1px;
      border-radius: 10px;
      margin: 4rem 0;

      @include break_point1 {
        margin: 2rem 0;
      }

      .login_input_box {
        display: flex;

        .login_input {
          flex-grow: 3;
          margin: 0.5rem;
          font-size: 1.5rem;
          width: 70%;

          @include break_point1 {
            font-size: 0.9rem;
          }

          @include break_point2 {
            font-size: 1.1rem;
          }

          @include break_point3 {
            font-size: 1.3rem;
          }
        }

        .login_icon {
          width: 10%;
          height: 10%;
          margin: 0.5rem 0 0.5rem 0.5rem;
        }
      }
    }

    .hor_line {
      border-bottom: 1px #eee0e0 solid;
    }

    .login_button {
      background-color: $light-warm-red;
      margin-bottom: 2rem;
      font-size: 2rem;
      border-radius: 20px;
      border: 1px #ffffff;
      width: 100%;
      color: #ffffff;

      @include break_point1 {
        font-size: 1rem;
      }

      @include break_point2 {
        font-size: 1.5rem;
      }

      @include break_point3 {
        font-size: 2rem;
      }
    }

    .sign_up_button {
      text-align: right;
      margin-bottom: 1rem;
      color: #ffffff;

      @include break_point1 {
        font-size: 0.6rem;
      }

      @include break_point2 {
        font-size: 0.6rem;
      }

      @include break_point3 {
        font-size: 0.8rem;
      }
    }
  }
}