@import "../config/_color.scss";

.proposal_container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .proposal_card{
    position: relative;
    width: 30%;
    border-radius: 10px;
    margin-right: 1rem;
    margin-bottom: 3rem;
    height: 15rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

    .img_container {
      width: 100%;
      height: 70%;
      .proposal_img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    .proposal_title {
      padding: 1rem;
      background-color: #ffffff;
      font-size: 1.3rem;
      border-radius: 10px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}