@import "../config/color.scss";

.relation_box {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 25px;
  border: 0.5px solid $dark-clay;
  padding: 1rem;

  .relation_news {
    margin-top: 1rem;
    display: flex;
    font-weight: normal;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    .relation_img {
      width: 40%;
      margin-right: 1rem;
    }
  }

}