@import "../config/_color.scss";
@import "../utils/_util.scss";

.topic_words_container {
  display: flex;
  //justify-content: space-evenly;
  font-size: 1rem;
  font-weight: bold;

  .topic_word {
    padding: 0.5rem;
    color: $light-cold-azure;

    @include break_point1 {
      font-size: 0.4rem;
    }

    @include break_point2 {
      font-size: 0.6rem;
    }

    @include break_point3 {
      font-size: 0.8rem;
    }
  }
}

.detail_card {
  display: flex;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid $dark-clay;

  .topic_img_container {
    margin: 0 auto;
    width: 30%;
    max-height: 30%;

    @include break_point1 {
      display: none;
    }

    @include break_point2 {
      display: none;
    }

    @include break_point3 {
      display: none;
    }

    .topic_img {
      object-fit: scale-down;
      width: 100%;
      height: 100%;
      border-radius: 25px;
    }
  }

  .topic_text {
    width: 63%;

    @include break_point1 {
      width: 100%;
    }

    @include break_point2 {
      width: 100%;
    }

    @include break_point3 {
      width: 100%;
    }

    .topic_title {
      font-size: 1.5rem;
      font-weight: bold ;

      @include break_point1 {
        font-size: 0.8rem;
      }

      @include break_point2 {
        font-size: 1rem;
      }

      @include break_point3 {
        font-size: 1.3rem;
      }
    }

    .topic_summary_content {
      margin-top: 2rem;
      font-size: 1.1rem;
      line-height: 1.8rem;

      @include break_point1 {
        font-size: 0.5rem;
      }

      @include break_point2 {
        font-size: 0.7rem;
      }

      @include break_point3 {
        font-size: 0.9rem;
      }
    }
  }
}