@import "../config/color.scss";

.news_container {
  font-size: 1.5rem;

  .news {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 25px;
    border: 0.5px solid $dark-clay;
    &:nth-child(1) {
      margin-top: 0;
    }
    img {
      width: 30%;
    }

    .news_card {
      display: flex;
      justify-content: space-between;

      .news_text_box {
        margin-left: 1rem;
        width: 70%;
        .news_title {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .news_text {
          margin-top: 1rem;
          font-size: 1rem;
        }

        .news_date {
          margin-top: 1rem;
          font-size: 0.8rem;
          color: #cccccc;
        }
      }
    }
  }
}

