@import "../config/_color.scss";
@import "../utils/_util.scss";

.detail_card {
  display: flex;
  margin: 0 auto;
  padding-top: 2rem;
  margin-bottom: 2rem;

  .topic_img_container {
    margin: 0 auto;
    width: 30%;

    .topic_img {
      object-fit: scale-down;
      width: 100%;
      height: 100%;
    }
  }

  .topic_text {
    width: 63%;
    .topic_title {
      font-size: 1.5rem;
      font-weight: bold ;
    }

    .topic_summary_content {
      margin-top: 2rem;
      font-size: 1.1rem;
      line-height: 1.8rem;
    }
  }


  @include mobile {
    .topic_title {
      font-size: 1.4rem;
    }

    .topic_summary {
      font-size: 1.2rem;
    }

    .topic_summary_content {
      font-size: 1rem;
    }

    .news_container {
      font-size: 1.2rem;

      .news {
        font-size: 1rem;
      }
    }
  }
}