@import "../utils/_util.scss";
@import "../config/_color.scss";

.topic_card_container {
  position: relative;

  .admin_delete_button {
    position: absolute;
    border-radius: 10px;
    padding: 0.3rem;
    bottom: 0;
    right: 0;
    margin: 1rem;
    font-size: 1rem;
    border: 1px solid $dark-clay;
    background-color: $bg-color;

    &:hover {
      cursor: pointer;
    }
  }

  &:nth-child(1) .card_body {
    border-top: none;
  }

  .card_body {
    width: 100%;
    display: flex;
    border-top: 2px dashed gray;

    &:hover {
      .topic_title {
        text-decoration: underline;
      }

      .card_body_img {
        transform: scale(1.1);
      }
    }

    .card_body_left {
      text-align: center;
      width: 20%;
      margin-right: 2rem;

      @include break_point1 {
        width: 50%;
        margin-right: 0;
      }

      @include break_point2 {
        width: 50%;
        margin-right: 0;
      }

      @include break_point3 {
        width: 50%;
        margin-right: 0;
      }

      .card_body_img {
        padding: 1rem;
        width: 100%;
        height: 10rem;
        object-fit: fill;
        border-radius: 32px;
        transition: all 0.2s linear;

        @include break_point1 {
          border-radius: 20px;
          padding: 0.5rem;
          width: 100%;
          height: 7rem;
        }
      }
    }

    .card_body_right {
      width: 80%;
      font-size: 1.4rem;
      margin: auto;

      @include break_point1 {
        font-size: 0.9rem;
        width: 100%;
      }

      @include break_point2 {
        font-size: 1rem;
        width: 100%;
      }

      @include break_point3 {
        font-size: 1.2rem;
        width: 100%;
      }

      .topic_title {
        margin-top: 1rem;
        margin-right: 2rem;
        @include break_point1 {
          margin-right: 0;
          font-size: 1rem;
        }
        @include break_point2 {
          margin-right: 0;
          font-size: 1rem;
        }
        @include break_point3 {
          margin-right: 0;
          font-size: 1.2rem;
        }
      }

      .topic_summary {
        margin: 1rem 2rem 0 0;
        font-size: 1rem;
        color: #666666;

        @include break_point1 {
          display: none;
        }

        @include break_point2 {
          margin-right: 0;
          font-size: 0.8rem;
        }

        @include break_point3 {
          margin-right: 0;
          font-size: 1rem;
        }
      }

      .topic_word_block {
        display: flex;

        .topic_words {
          font-size: 1rem;
          padding: 10px 15px;
          color: $light-cold-azure;

          @include break_point1 {
            font-size: 0.6rem;
            padding: 10px 7px;
          }

          @include break_point2 {
            font-size: 0.8rem;
          }

          @include break_point3 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}