@import "../utils/_util.scss";

.card_body {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  height: 10rem;
  border-bottom: 4px solid #f4f6f8;
  border-radius: 15px;

  .card_body_left {
    text-align: center;
    width: 20%;
    margin-right: 2rem;

    .card_body_img {
      padding: 1rem;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .card_body_right {
    width: 80%;
    font-size: 1.4rem;
    margin: auto;

    & .topic_title:hover {
      text-decoration: underline;
    }

    .topic_title {
      margin-right: 2rem;
    }

    .topic_summary {
      margin: 1rem 2rem 0 0;
      font-size: 1rem;
      color: #666666;
    }
  }

  @include mobile {
    .card_body_left {
      width: 35%;
      margin-right: 0;
    }

    .card_body_right{
      width: 65%;
      font-size: 1rem;
    }
  }
}