$mobile: 560px;
$tabletToMobile: 768px;
$tablet: 960px;

@mixin mobile {
  @media (min-width: #{0px}) and (max-width: #{$mobile - 1px}) {
    @content
  }
}

@mixin mobileToTablet {
  @media (min-width: #{$mobile}) and (max-width: #{$tabletToMobile - 1px}) {
    @content
  }
}

@mixin tablet {
  @media (min-width: #{$tabletToMobile}) and (max-width: #{$tablet - 1px}) {
    @content
  }
}