@import "../utils/_util.scss";

.topic_detail_under {
  display: flex;

  .topic_detail_left {
    width: 65%;

    @include break_point1 {
      width: 100%;
    }

    @include break_point2 {
      width: 100%;
    }

    @include break_point3 {
      width: 100%;
    }
  }

  .topic_detail_right {
    padding-left: 1rem;
    width: 35%;

    @include break_point1 {
      display: none;
    }

    @include break_point2 {
      display: none;
    }

    @include break_point3 {
      display: none;
    }
  }
}